.rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  margin: .25em 0;
}

.text-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.form {
  display: flex;
  background-color: #adedc2;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.textarea {
  min-height: 5em;
}

.no-top-borderadius {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.margin-auto {
  margin: auto 0;
}

a {
  color: #23d160;
}